doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='/assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
      | Burma-Hills
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    // CSS Files
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/css/now-ui-dashboard.css?v=1.1.0', rel='stylesheet')
    // CSS Just for demo purpose, don't include it in your project
    link(href='/assets/demo/demo.css', rel='stylesheet')
    script(src="/js/sweetalert.min.js" type="text/javascript")
    block styles
  body
    .wrapper
      .sidebar(data-color='orange')
        //
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        .logo
          //- a.simple-text.logo-mini(href='http://www.creative-tim.com')
          //-   | Hi
          a.simple-text.logo-normal(href=`/users/${user._id}/viewProfile`)
            img#dashboard-photo.avatar.border-gray(src='/assets/img/default-avatar.png', alt='...')
            | &nbsp #{user.fullName}
        .sidebar-wrapper
          ul.nav
            li.active
              a.link(href='/burma-hills/users/dashboard')
                i.now-ui-icons.design_app
                p Dashboard
            li
              a.link(href='/burma-hills/users/profile')
                i.now-ui-icons.users_single-02
                p Profile
            li
              a.link(href='/burma-hills/users/neighbours')
                i.now-ui-icons.objects_globe
                p Neighbours
            li
              a.link(href='/burma-hills/events')
                i.now-ui-icons.ui-1_calendar-60
                p Upcoming Events
            li
              a.link(href='/burma-hills/users/notifications')
                i.now-ui-icons.ui-1_bell-53
                p Notifications
            li
              a.link(href='/burma-hills/users/dues')
                i.now-ui-icons.business_money-coins
                p Dues & Contributions
            li
              a.link(href='#')
                i.now-ui-icons.design_bullet-list-67
                p Reports & Suggestions
            li.active-pro
              a.link(href='#')
                i.now-ui-icons.arrows-1_cloud-download-93
                p Uploaded Photos
      .main-panel
        // Navbar
        nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.bg-primary.fixed-top
          .container-fluid
            .navbar-wrapper
              .navbar-toggle
                button.navbar-toggler(type='button')
                  span.navbar-toggler-bar.bar1
                  span.navbar-toggler-bar.bar2
                  span.navbar-toggler-bar.bar3
              a.navbar-brand #{title}
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
            #navigation.collapse.navbar-collapse.justify-content-end
              form
                .input-group.no-border
                  input.form-control(type='text', value='', placeholder='Search...')
                  .input-group-append
                    .input-group-text
                      i.now-ui-icons.ui-1_zoom-bold
              ul.navbar-nav
                li.nav-item.dropdown
                  a#notificationMenu.nav-link.dropdown-toggle(href=`/users/${user._id}/viewProfile`, data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.now-ui-icons.ui-1_bell-53
                    p
                      span.d-lg-none.d-md-block Notifications
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='notificationMenu')
                    span.dropdown-item(onclick="demo.showNotification('top','center')") 1st Notification
                    span.dropdown-item(onclick="demo.showNotification('top','center')") 2nd Notification
                    span.dropdown-item(onclick="demo.showNotification('top','center')") 3rd Notification
                li.nav-item.dropdown
                  a#accountMenu.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.now-ui-icons.users_single-02
                    p
                      span.d-lg-none.d-md-block Account
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='accountMenu')
                    a.dropdown-item(href=`/users/${user._id}/viewProfile`) Profile
                    a.dropdown-item(href='/users/profile') Account
                    a.dropdown-item(href='/logout') Logout
                li.nav-item
                  a.nav-link(href='/logout')
                    i.now-ui-icons.media-1_button-power
                    p
                      span.d-lg-none.d-md-block Logout
        block main
        footer.footer
          .container-fluid
            nav
              ul
                li
                  a(href='/')
                    | Burma-Hills
                li
                  a(href='#')
                    | About Us
                li
                  a(href='#')
                    | Blog
            #copyright.copyright
              | ©
              script.
                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
              | , Designed and Coded by
              a(href='#', target='_blank')  AccurateIT Inc.
    // Core JS Filesd
    script(src='/assets/js/core/jquery.min.js')
    script(src='/assets/js/core/popper.min.js')
    script(src='/assets/js/core/bootstrap.min.js')
    script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
    // Google Maps Plugin
    script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
    // Chart JS
    script(src='/assets/js/plugins/chartjs.min.js')
    // Notifications Plugin
    script(src='/assets/js/plugins/bootstrap-notify.js')
    // Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc
    script(src='/assets/js/now-ui-dashboard.min.js?v=1.1.0', type='text/javascript')
    // Now Ui Dashboard DEMO methods, don't include it in your project!
    script(src='/assets/demo/demo.js')
    script.
      $(window).on("load", () => {
        $(".link").parent().removeClass("active");

        $(".link").each((index, one) => {
          if($(one).attr("href") === location.pathname) {
            $(one).parent().addClass("active");
          }
        })
      });

      // javascript for init
      $('.date-picker').datepicker({
          templates:{
            leftArrow: 'i.now-ui-icons.arrows-1_minimal-left',
            rightArrow: 'i.now-ui-icons.arrows-1_minimal-right'
          }
        }).on('show', function() {
            $('.datepicker').addClass('open');
            datepicker_color = $(this).data('datepicker-color');
            if( datepicker_color.length != 0){
              $('.datepicker').addClass('datepicker-'+ datepicker_color +'');
            }
          }).on('hide', function() {
            $('.datepicker').removeClass('open');
          });
      //- });

    block scripts
    